.headersection{
    width: 1250px;
    margin-left: 100px;
}

.headerh1{
    background-color: #33ff7e;
    text-align: center;
    color: white;
    margin-top:-10px;

}

.photo{
    margin-top:-21px;
    width: 1250px;
    height:500px;
    margin-left: 100px;
}

